################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BonusAttaquerServeurLinuxSSH/obj
/.vs/DotnetConfWestAfrica2024/copilot-chat/357a0f55/sessions/52379fdf-cf35-460e-b3e2-3775eb625cf5
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
