################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
/.vs
/BonusAttaquerServeurLinuxSSH/obj
/.vs/DotnetConfWestAfrica2024/copilot-chat/357a0f55/sessions/52379fdf-cf35-460e-b3e2-3775eb625cf5
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
/.vs/DotnetConfWestAfrica2024/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
/BonusAttaquerServeurLinuxSSH/bin/Debug/net9.0
/Collections/bin/Debug/net9.0
/Collections/obj/Debug/net9.0/apphost.exe
/Collections/obj/Debug/net9.0/Collections.AssemblyInfo.cs
/Collections/obj/Debug/net9.0/Collections.AssemblyInfoInputs.cache
/Collections/obj/Debug/net9.0/Collections.csproj.CoreCompileInputs.cache
/Collections/obj/Debug/net9.0/Collections.csproj.FileListAbsolute.txt
/Collections/obj/Debug/net9.0/Collections.dll
/Collections/obj/Debug/net9.0/Collections.genruntimeconfig.cache
/Collections/obj/Debug/net9.0/Collections.pdb
/Collections/obj/Debug/net9.0/Collections.sourcelink.json
/Linq/bin/Debug/net9.0/Linq.dll
/Linq/bin/Debug/net9.0/Linq.exe
/Linq/bin/Debug/net9.0/Linq.pdb
/Linq/obj/Debug/net9.0/Linq.csproj.FileListAbsolute.txt
/OptionsWebParDefaut/bin/Debug/net9.0
/OptionsWebParDefaut/obj/Debug/net9.0/ref
/OptionsWebParDefaut/obj/Debug/net9.0/refint
/OptionsWebParDefaut/obj/Debug/net9.0/apphost.exe
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.AssemblyInfo.cs
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.AssemblyInfoInputs.cache
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.csproj.CoreCompileInputs.cache
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.csproj.FileListAbsolute.txt
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.dll
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.genruntimeconfig.cache
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.pdb
/OptionsWebParDefaut/obj/Debug/net9.0/OptionsWebParDefaut.sourcelink.json
/RuntineDotnet/bin/Debug/net9.0/RuntineDotnet.dll
/RuntineDotnet/bin/Debug/net9.0/RuntineDotnet.exe
/RuntineDotnet/bin/Debug/net9.0/RuntineDotnet.pdb
/RuntineDotnet/obj/Debug/net9.0/apphost.exe
/RuntineDotnet/obj/Debug/net9.0/refint/RuntineDotnet.dll
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.AssemblyInfo.cs
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.AssemblyInfoInputs.cache
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.csproj.FileListAbsolute.txt
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.dll
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.genruntimeconfig.cache
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.pdb
/RuntineDotnet/obj/Debug/net9.0/RuntineDotnet.sourcelink.json
